@import "./constants";

.button {
  padding: 0.5rem 2rem;
  font-family: inherit;
  border-radius: 20rem;
  background: $white_04;
  text-transform: uppercase;
  font-weight: 700;
  color: $black_08;
  box-shadow: 0 0.2rem 0.8rem $black_03;
  border: 1px solid transparent;
  border-top: 2px solid $white_04;
  border-right: 1px solid $white_04;
  min-width: 4rem;
  min-height: 2rem;
  backdrop-filter: blur(5px);

  &.hidden {
    display: none;
  }

  &.next {
    background: $white_07;
    border-radius: 0;
    border: none;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    &:active {
      transform: translateX(0.2rem);
    }
  }

  &.previous {
    background: $white_07;
    border-radius: 0;
    border: none;
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    &:active {
      transform: translateX(-0.2rem);
    }
  }

  &:active {
    transform: translateY(0.1rem);
  }

  &:disabled {
    border: 1px solid transparent;

    cursor: not-allowed;
    background: $gray_929292;
    color: $gray_555;
  }
}
