$black: black;
$black_01: rgba(black, 0.1);
$black_03: rgba(black, 0.3);
$black_04: rgba(black, 0.4);
$black_05: rgba(black, 0.5);
$black_06: rgba(black, 0.6);
$black_07: rgba(black, 0.7);
$black_08: rgba(black, 0.8);
$black_85: rgba(black, 0.85);

$blue_4444a5: #4444a5;
$blue_292962: #292962;
$blue_0066ff: #0066ff;

$crimson: crimson;
$crimson_01: rgba(crimson, 0.1);

$gray_03: rgba(gray, 0.3);
$gray_05: rgba(gray, 0.5);
$gray_07: rgba(gray, 0.7);
$gray_333: #333;
$gray_222: #222;
$gray_111: #111;
$gray_555: #555555;
$gray_929292: #929292;

$green_00ff00: #00ff00;

$magenta_ff00ff: #ff00ff;

$orange: orange;
$orange_04: rgba(orange, 0.4);

$red_ff0066: #ff0066;

$yellow_ffff00: #ffff00;
$yellow_fcf6ba: #fcf6ba;

$white: white;
$white_eee: #eee;
$white_01: rgba(white, 0.1);
$white_02: rgba(white, 0.2);
$white_03: rgba(white, 0.3);
$white_04: rgba(white, 0.4);
$white_06: rgba(white, 0.6);
$white_07: rgba(white, 0.7);
$white_09: rgba(white, 0.9);

//dimensions
$mark-w: 60%;
$mark-h: 60%;
